@import "../../colors";

.error {
  display: flex;
  align-items: center;
  border: 2px solid $error;
  border-radius: 5px;
  background-color: $error;
  color: $primary-text;
  width: 100%;

  .icon {
    color: $primary-text;
    padding: 15px 0 15px 15px;
  }

  .text {
    padding: 15px;
  }
}