@import "../../../colors";

.reports {
  border-top: 1px solid $primary-border;
  padding: 15px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.headerText {
  margin-right: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.remove {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  border: 2px solid $info;
  border-radius: 5px;
  padding: 15px;
  color: $info;
  margin-top: 15px;
}