$button: #6200ee;
$button-variant: #3700b3;
$button-disabled: #999999;

$header-background: #6200ee30;

$error: #b00020;

$primary-text: #fff;
$primary-border: #000;

$info: #aaa;

$spinner: #6200ee;
$spinner-background: #eee;
